.navbar{
    
    position: sticky;
    top: 0;
    z-index: 100;
    /* overflow: hidden; */
}
.container{
    color: rgb(9, 11, 4) ;
    
}
.sample{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* h1{
    text-align: center;
    color: brown;
}

.example-spacer{
    flex: 1 1 auto;
} */