
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
    <div class="container">
      <h2>ProductApp</h2>
            <div class="d-flex">
                <button class="btn btn-light ms-2" routerLink="register">Register</button>
                <button class="btn btn-light ms-3" routerLink="login">Login</button>
                <!-- <button class="btn btn-light ms-3" routerLink="addproduct">ADD Product</button>
                <button class="btn btn-light ms-3"routerLink="cart">My Cart</button>
                <button class="btn btn-light ms-3" routerLink="logout">Logout</button>   -->
            </div>
    </div>
  </nav>
  <section class="vh-100 bg-image"
  style="background-image: url('https://media.istockphoto.com/vectors/chemical-test-tube-with-the-text-hello-in-the-hindi-language-vector-id993466206?k=20&m=993466206&s=612x612&w=0&h=N0mv2GNbVNPuc3a0Z4bb3S3dVCxlruyFSW99szxLpPg=');">
 </section>

<!-- <div class>
  <div class="sample">
    <img src="https://media.istockphoto.com/photos/login-screen-username-and-password-in-internet-browser-on-computer-picture-id905301022?b=1&k=20&m=905301022&s=170667a&w=0&h=8PndgSPSAN8Gt1AMqIUW_VVNTdYwy_xOtuE4yDSbwpI="
    class="img-fluid" alt="Sample image">
  </div>
</div> -->
<!-- <mat-toolbar color="primary">
    <span>Product App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="register">Register</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="login">Login</button>
</mat-toolbar>-->
<!-- <app-dashboard></app-dashboard>  -->
