<section class="vh-100 bg-image"
  style="background-image: url('https://cdn.pixabay.com/photo/2017/07/29/13/00/box-2551422__480.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 25px;background-color:rgb(238, 242, 232);">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center text-danger mb-5" >Create an account</h2>
              <form #user="ngForm" (ngSubmit)="registerUser(user.value)">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg"  name="name" placeholder="Enter Your Name" class="form-control form-control-lg"  ngModel/>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example5cg" name="password" placeholder="Enter Your Password"  class="form-control form-control-lg"  ngModel />
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" placeholder="Enter Your Email" class="form-control form-control-lg"  ngModel />
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cg" name="location" placeholder="Enter Your Location"  class="form-control form-control-lg" ngModel />
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Sign Up</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 
<div class="register-layout">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Registration form
            </mat-panel-title>
            <mat-panel-description>
                Enter your details
              </mat-panel-description>
          </mat-expansion-panel-header>
        <div class="registerform-layout">
          <mat-form-field appearance="fill">
            <mat-label>Enter First name</mat-label>
            <input matInput type="text" [(ngModel)]="user.name" placeholder="xyz">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter password</mat-label>
            <input matInput type="password" [(ngModel)]="user.password" placeholder="password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter email</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" placeholder="vi@gmail.com" >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter Location</mat-label>
            <input matInput  [(ngModel)]="user.location" placeholder="location">
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="registerUser()">Register</button>
        </div>
    </mat-expansion-panel>
</div>
 -->
