/* .gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(39, 231, 109, 0.5), rgba(143, 211, 244, 0.5));    
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    } */
    /* .gradient-custom-4 {
    background: #84fab0;  
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); 
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    } */




    /* 
    .register-layout{
        display: flex;
        justify-content: space-around;
    }
    .registerform-layout{
        display: flex;
        flex-direction: column;
    }
     */