<section class="vh-100">

  <nav class="navbar navbar-expand-lg navbar-dark bg-info ">
    <div class="container">
      <h2>ProductApp</h2>           
    </div>
  </nav>
    
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://media.istockphoto.com/photos/login-screen-username-and-password-in-internet-browser-on-computer-picture-id905301022?b=1&k=20&m=905301022&s=170667a&w=0&h=8PndgSPSAN8Gt1AMqIUW_VVNTdYwy_xOtuE4yDSbwpI="
          class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #loginuser="ngForm" (ngSubmit)="login(loginuser.value)">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Login Page</p>                       
            </div>
  
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="Name" id="form3Example3" name="name"class="form-control form-control-lg"
                placeholder="Enter a Userame" ngModel/>
              <label class="form-label" for="form3Example3"></label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" name="password"class="form-control form-control-lg"
                placeholder="Enter password"ngModel />
              <label class="form-label" for="form3Example4"></label>
            </div>
   
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign In</button>     
            </div> 
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <p>Copyright © 2020. All rights reserved.</p>
    </div>
  </section>